                        /* ALL */

input::placeholder {
    color: #e0e0e0;
}

                        /* HEADER */

header {
    padding: 15px 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    background: rgb(113,113,113);
    background: linear-gradient(90deg, rgba(113,113,113,1) 0%, rgba(142,142,142,1) 100%);
    color: #fff;
}

                        /* MAIN */

main {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

                        /* MAIN / NAVIGATION */

.main_navigation {
    width:200px;
    margin: 20px;
    border-right: 1px solid #ededed;
}

.main_navigation span{
    display: block;
    font-size: 20px;
    color: #717171;
    padding: 30px 0px 10px; 
}

.main_navigation span:first-of-type {
    padding-top: 0px 
}

.main_navigation li{
    font-size: 16px;
    padding: 5px 10px;
    color:#858585;
    cursor: pointer;
}

.main_navigation li:hover{
    color:#00cbff;
}

.show_button {
    margin-top: 30px;
    padding: 3px 25px;
    border: 2px solid #227aff;
    border-radius: 5px;
    background-color: #227aff;
    color: #fff;
    
}

                        /* MAIN / TABLE */

.main_table {
    padding: 20px;
}

                        /* FOOTER */

footer {
    padding: 15px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: rgb(113,113,113);
    background: linear-gradient(90deg, rgba(113,113,113,1) 0%, rgba(142,142,142,1) 100%);
    color: #fff;

}